
/*Variables de colores*/
:root {
	/*
		1 Fondo de todo
		2 Fondo del head
		3 Fondo del titulo
		4 Botones
		5 Hover en botones (falta desplegable)
		6 Fondo articulos
		7 Footer*/

	--color1: #777;
	--color2: #FFFFFC;
	--color3: #EEEEEE;
	--color4: #0074D9;
	--color5: #0056B3;
	--color6: #EEEEEE;
	--color7: #CCCCCC;
}

*{	/* asterisco es para todo */
	font-family: 'Didact Gothic', sans-serif;
}

img{
	border-radius: 25%;
}

body {
	margin: 5px;
	background-color: var(--color1);
}

/*-----Cabecera-----*/

header {
    background-color: var(--color2);
	border-radius: 20px;
    text-align: center;
    margin: 10px;
	padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    position: relative; /* Añade posición relativa para botones cuadrados */
}

nav a {
    text-decoration: none;
    color: black;
    display: inline-block; /* Añade para que los enlaces tengan un tamaño y forma */
    padding: 10px 20px;
    background-color: var(--color4); /* Color de fondo azul */
    border-radius: 5px; /* Añade bordes redondeados */
    transition: all 0.3s; /* Transición suave de 0.3 segundos */
    font-weight: bold;
}

nav a:hover {
    background-color: var(--color5); /* Color de fondo azul oscuro al pasar el ratón */
    color: white; /* Texto en blanco al pasar el ratón */
    transform: scale(1.1); /* Hace que el botón sea un poco más grande al pasar el ratón */
}


/* Resetting default margin and padding for some elements */
body, h1, h2, section {
    margin: 0;
    padding: 0;
}

/* Center the 'h1' element */
h1 {
    text-align: center;
    margin-top: 20px; /* You can adjust the margin as needed */
}

/* Creating a grid layout for the articles */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill	, minmax(300px, 1fr)); /* Maximum 3 columns, each with a minimum width of 300px */
    gap: 10px; /* Adjust the gap between items as needed */
    justify-items: center; /* Center items horizontally within each grid cell */
}

/* Style for each 'article' block (the cajitas) */
article {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

/* Style for the 'img' inside the 'article' */
article img {
    width: 100px; /* Adjust the image size as needed */
    height: 100px;
}


/*Footer de informacion*/
	body > footer{	
		display: flex;
		justify-content: space-between;
		padding: 0.5em;
		padding-left: 1em;
		padding-right: 1em;
		
		background-color: var(--color7);

		border-radius: 25px;
		
	}


main>section{
	text-align: center;
	justify-content: center;
	border-radius: 1em;
	background-color: var(--color3);
	margin: 1em;
	padding: 1px 0px;
}
