
/*Variables de colores*/
:root {
	/*
		1 Fondo de todo
		2 Fondo del head
		3 Fondo del titulo
		4 Botones
		5 Hover en botones (falta desplegable)
		6 Fondo articulos
		7 Footer*/

	--color1: #232323;
	--color2: #FFFFFC;
	--color3: #EEEEEE;
	--color4: #227C9D;
	--color5: #002749;
	--color6: #EEEEEE;
	--color7: #CCCCCC;
}

*{	/* asterisco es para todo */
	font-family: 'Didact Gothic', sans-serif;
}

img{
	border-radius: 25%;
}

body {
	margin: 5px;
	background-color: var(--color1);
}

/*-----Cabecera-----*/

	body > header {
		background-color: var(--color2);
		background-repeat: repeat;
		background-size: contain;
		text-align: center;
		border-radius: 35px;
	}

		body > header > a > img{
			margin: 0.9em;
			width: 110px;
			border-radius: 25%;
		}
		body > header > div{
			border-radius: 35px;
			background-color: var(--color3);
			margin: 5px;
			padding: 0%;
		}
		body > header > div > h1{
			color: #000000;
			font-size: 32px;
		}
		body > header > div > p{
			padding: 0px;
			color: #000000;
			margin: 25px;
		}

/*-----Menu-----*/

	/*Boton extender menu lateral cuando pantalla pequeña*/
	body > nav{
		position: sticky;
		top: 7px;
		height: 1.75em;
		
	}
	body >nav > label{
		border-radius: 10px;
		height: fit-content;
		width: fit-content;
			transition: background-color .15s ease-in-out;
		padding: 2%;
		background-color: var(--color4); /*-Barrita debajo de menú de inicio-*/
	}
		body > nav> label:hover{
			background-color: var(--color5);
			transition: background-color .15s ease-in-out;
			color: var(--color2);
		}

		/*Casilla tick*/
			#botonMenu{
				display: none;
			}
			#botonMenu + ul{
				position: absolute;
				left: -100%;
				transition: left .5s ease-in-out;

			}

			#botonMenu:checked + ul{
				display: grid;
				left: 0%;
				transition: left .5s ease-in-out;
			}

		body > nav > ul{
			width: 150px;
			padding-left: 0em; 
			margin: 10px;
			list-style: none;
			border-radius: 10px;
			
			left: -500%;
			transition: left .5s ease-in-out;
			
			
		}
		
				body > nav > ul > li > a{
					background-color: var(--color4);
					display:flex;
					padding: 0.5em 0.5em;
					border-radius: 10px;
					color: black;
					text-decoration: none;
					justify-content: center;
					transition: background-color .15s ease-in-out;
					
				}
				body > nav > ul > li > a:hover{
					background-color: var(--color5); /*-Para cuando estás encima de alguna opción-*/
					color:whitesmoke;
					font-weight: bold;
					transition: background-color .15s ease-in-out;

				}

		body > nav > label{
			padding-left: 0.5em;
			cursor: pointer;
		}



	/*MAIN*/
	body > main{
		margin: 10px;
		margin-top: 25px;
		padding: 15px;

		border-radius: 20px;
		background-color: var(--color2);
	}
		/*Titulo: "Publicaciones"*/
		body > main > h2{
			color: rgb(0, 0, 0);
			font-size: 24px;
			border-bottom: 1px solid #000;
		}

/*------Contenido dentro de articles--------*/

		body > main > div{
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(250px,2fr));
			grid-gap: 2em;
		}
			body > main > div > article{
				padding: 0em 1em;
				width: 90%;

				border: 1px solid rgb(170, 170, 170);
				background-color: var(--color6);
				text-align: center;
				border-radius: 20px;
			}
			body > main > div > article > a{
				text-decoration: none;
			}
			body > main > div > article > a > h3{
				height: 1em;
			}

				a> .tituloPublicacion{
					color: rgb(0, 0, 0); /*-Título de los lugares-*/
					padding: 1em;
					height: 20px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					text-decoration: none;
					font-size: 16px;
					transition: background-color .25s ease-in-out;
					border-radius: 15px;
				}
				body > main > div > article > a > .tituloPublicacion:hover{
					font-weight: bold;
					background-color: var(--color5); /*-Cuando te pones encima de los títulos del lugar-*/
					color: #fff;
					transition: background-color .25s ease-in-out;
				}
			
				body > main > div > article > a > img{
					width: 90%;
					transition: width .25s ease-in-out;
					border-radius: 15%;
				}
				body > main > div > article > a > img:hover{
					width: 100%;
					transition: width .25s ease-in-out;
					box-shadow: 3px 3px 5px 6px rgb(86, 86, 86, 0.5); /*-Cuando te pones encima de la foto de un lugar-*/
				}
				
			body > main > div > article > footer{
					padding-bottom: 1em;
					padding-left: 2em;
					padding-right: 2em;
					font-size: 15px;
					display: flex;
					justify-content: space-between;
				}

	
	.pasaPagina > ul{
		justify-content: center;
		padding: 5px;
		margin: 0 10% 5% 10%;
		
		list-style: none;
		border-radius: .5em;		
		display: flex;
		background-color: var(--color2);
	}

	.pasaPagina > ul >li>a{
		padding: 0.2em;
		text-decoration: none;
		border-radius: 30%;
		margin-right: 5px;
		margin-left: 5px;
			transition: background-color .15s ease-in-out;
		background-color: var(--color4);
	}
	.pasaPagina > ul >li>a:hover{
		background-color: var(--color5);
			transition: background-color .15s ease-in-out;
		color: var(--color2);
	}

/*Footer de informacion*/
	body > footer{	
		display: flex;
		justify-content: space-between;
		padding: 0.5em;
		padding-left: 1em;
		padding-right: 1em;
		
		background-color: var(--color7);

		border-radius: 25px;
		
	}




.Login{
	display: grid;
	text-align: center;
	justify-content: center;
	grid-template-columns: 300px;
	border-radius: 1em;
	background-color: var(--color3);
	padding: 2em;
}
	.Login>form{
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 110%;
		border-radius: 1em;
		background-color: var(--color4);
	}

		.Login>form>label{
			padding: 10px;
		}
			.Login>form>input{
				margin: 10px;
				margin-top: 0px;
				padding: 10px;
				border-radius: 1em;
			}

		.Login>form>div{
			display: flex;
			justify-content: center;
			padding: 10px 35px;
		}
			.Login>form>div>button{
				justify-content: center;
				padding: 10px;
				width: 100%;
				background-color: var(--color4);
				border: 2px solid var(--color5);
				border-radius: 1em;
				transition: background-color .15s ease-in-out;

			}
			.Login>form>div>button:hover{
				background-color: var(--color5);
			transition: background-color .15s ease-in-out;
			color: var(--color2);
			}

	.Login>footer{
		margin-top: 2em;
	}

	.Login>footer>a{
		margin-top: 20px;
		text-align: center;
		background-color: var(--color4);
		border-radius: 1em;
		padding: 1em;
		text-decoration: none;
		color: #000;
			transition: background-color .15s ease-in-out;

	}
	.Login>footer>a:hover{
		background-color: var(--color5);
			transition: background-color .15s ease-in-out;
			color: var(--color2);
	}
	#inicioSesion{
		color: #000;
		text-decoration: none;
	}




/*-------Registro.html-------*/
.Registro{
	grid-template-columns: 350px;
	text-align: center;
	justify-content: center;
	border-radius: 1em;
	background-color: var(--color3);
	padding: 20px;
}

	.Registro> form{
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 102%;
		border-radius: 1em;
		background-color: var(--color4);
	}

		.Registro>form>label{
			padding: 2px;
		}
		.Registro>form>input{
			margin: 10px;
			margin-top: 0px;
			padding: 10px;
			border-radius: 1em;
		}
		.Registro>form>label>img{
			display: block;
			margin:auto;
			width: 80%;
			content: "No image provided";
			border-radius: 25%;

		}
		#BorraFile{
			display: none;
		}
		
		
		.Registro>form>footer{
			margin: 3px 25px;
			display: flex;
			justify-content: space-between;
		}
		.Registro>form>footer>button{
			border-radius: 15px;
			margin:3px;
			padding: 10px;
		}
		.Registro>form>footer>input[id="equis"]{
			display: none;
		}
		.Registro>form>footer>label{
			border-radius: 15px;
			background-color: tomato; 
			margin:3px;
			padding: 10px;
		}




/*--------Buscar.html--------*/

main>section{
	text-align: center;
	justify-content: center;
	border-radius: 1em;
	background-color: var(--color3);
	margin: 1em;
	padding: 1px 0px;
}
.Buscador{
	display: grid;
	text-align: center;
	justify-content: center;
	grid-template-columns: 90%;
	border-radius: 1em;
	background-color: var(--color3);
	padding: 2em;
}
.Buscador>form{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 102%;
	border-radius: 1em;
	background-color: var(--color4);

}
		.Buscador>form>label{
			padding: 2px;
		}
		.Buscador>form>input{
			margin: 10px;
			margin-top: 0px;
			padding: 10px;
			border-radius: 1em;
		}

		.Buscador>form>div{
			margin: 10px 0px;
			padding: 10px;
		}
		.Buscador>form>div>p{
			background-color: whitesmoke;
			border-radius: 1em;
		}
		.Buscador>form>p>button{
			text-align: center;
			background-color: var(--color4);
			border-radius: 2em;
			padding: 1em;
			text-decoration: none;
			color: #000;
			transition: background-color .15s ease-in-out;
				border: 2px solid var(--color5);
				width: 80%;
				font-size: 16px;
		}

		.Buscador>form>p>button:hover{
			background-color: var(--color5);
			color: var(--color2);
			transition: background-color .15s ease-in-out;
		}

.botonesTabla{
	border-radius: 25px;
	padding: 10px;
}

/*-------ACERCA------------*/
.Acerca{
	display: grid;
	text-align: center;
	justify-content: center;
	grid-template-columns: 90%;
	border-radius: 1em;
	background-color: var(--color3);
	padding: 1em;
}
	.Acerca>form{
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 110%;
		border-radius: 1em;
		background-color: var(--color4);
		font-size: 16px;
	}

		.Acerca>form>label{
			padding: 10px;
		}
			.Acerca>form>input{
				font-size: 16px;
				text-align: center;
				margin: 0px 30px;
				padding: 5px;
				border-radius: 1em;
				color: #000;
				border: 1px solid var(--color5);
			}
			.Acerca>form>ul{
				font-size: 16px;
				text-align: center;
				margin: 0px 30px;
				padding: 5px;
				border-radius: 1em;
				color: #000;
				border: 1px solid var(--color5);
				background-color: var(--color3);
			}
			.Acerca>form>ul>li{
				list-style: none;
			}
			.Acerca>form>strong{
				margin: 1em;
			}

		.Acerca>form>div{
			display: flex;
			justify-content: center;
			padding: 10px 35px;
		}
			.Acerca>form>div>button{
				justify-content: center;
				padding: 10px;
				width: 100%;
				background-color: var(--color4);
				border: 2px solid var(--color5);
				border-radius: 1em;
				transition: background-color .15s ease-in-out;

			}
			.Acerca>form>div>button:hover{
				background-color: var(--color5);
			transition: background-color .15s ease-in-out;
			color: var(--color2);
			}

	.Acerca>footer{
		margin-top: 2em;
	}

	.Acerca>footer>a{
		margin-top: 20px;
		text-align: center;
		background-color: var(--color4);
		border-radius: 1em;
		padding: 1em;
		text-decoration: none;
		color: #000;
			transition: background-color .15s ease-in-out;

	}
	.Acerca>footer>a:hover{
		background-color: var(--color5);
			transition: background-color .15s ease-in-out;
			color: var(--color2);
	}
.borrar{
	border-radius: 15px;
	background-color: tomato; 
	margin:3px;
	padding: 10px;
	border: none;
}


.noticia{
	padding: 30px;
}

.noticia>footer{
	display: flex;
	justify-content: space-between;
	padding: 0;
}
.noticia>img{
	width: 90%;
	max-width: 500px;
}

.noticia>h4{
	font-weight: 10;
}

.noticia>footer>a>button{
	border-radius: 50px;
	border: none;
	padding: 10px;
}
	.like{
		background-color: #2c2;
		transition: background-color .15s ease-in-out;
	}
		.like:hover{
			background-color: #080;
			color: var(--color2);
			transition: background-color .15s ease-in-out;
		}
	.dislike{
		background-color: tomato;
		transition: background-color .15s ease-in-out;
	}
		.dislike:hover{
			background-color: #800;
			color: var(--color2);
			transition: background-color .15s ease-in-out;
		}
	.comments{
		background-color: var(--color4);
		transition: background-color .15s ease-in-out;
	}
		.comments:hover{
			background-color: var(--color5);
			color: var(--color2);
			transition: background-color .15s ease-in-out;
		}
.noticia>footer>a>button>input{
	text-align: center;
	margin: 10px;
	width: 60px;
	color: var(--color1);
	background-color: var(--color2);
	border-radius: 10px;
	border: none;
}



.comentarios>ul{
	list-style: none;
	padding: 0 20px;
}
	.comentarios>ul>li{
		padding:0px 10px;
		margin:15px 0;
		background-color: var(--color4);
		display: grid;
		border-radius: 20px;
		justify-content: center;
		text-align: center;
		justify-self: center;
	}
	.comentarios>ul>li>h4{
		display: grid;
		margin: 10px;
	}
	.comentarios>ul>li>h4>p{
		font-size: 14px;
		font-weight: 100;
	}
	.comentarios>ul>li>h4>img{
		width: 75px;
		border-radius: 20px;
		justify-self: center;
	}
	.comentarios>ul>li>h5{
		margin: 10px 20px;
		font-size: 14px;
		font-weight: 100;
	}
	.comentarios>ul>li>a{
		color: var(--color1);
		text-decoration: none;
	}
	.comentarios>ul>li>a:hover{
		color: var(--color2);
	}

	.comentarios>ul>form{
		padding:1px 10px;
		margin:15px 0;
		background-color: var(--color4);
		border-radius: 20px;
		justify-self: center;
		display: grid;
	}
	.comentarios>ul>form>textarea{
		margin: 10px;
		width: 90%;
		resize: none;
		height: fit-content;
		min-height: 250px;
		margin-bottom: 15px;
		padding: 10px;
		justify-self: center;
	}
	.comentarios>ul>form>section{
		display: flex;
		margin: 0 0 20px 0;
		justify-content: space-between;
	}
	.comentarios>ul>form>section>button{
		padding: 10px;
		border-radius: 20px;
		border: none;
		margin: 0 10px;
	}

/*-----Media queries-----*/
	/*Mediaquery de ejemplo*/
	@media (condicion1) and (condicion2)
	{
		/*estilos*/
	}
	@media all and (min-width: 480px){
		/*-----Cabecera-----*/
		body > header{/*cambia la posicion de los elementos de la cabecera*/
			display: grid;
			grid-template-areas: "logo h1"
								 "logo p";
			justify-content: center;
			grid-column-gap: 1em; 
		}

			body > header > h1{
				grid-area: h1;
			}
			body > header > p{
				grid-area: p;
			}
			body > header > img{
				grid-area: logo;
			}
	
			/*-----Menu-----*/
			body > nav > label{
				display: none; 
			}
			body > nav > input{
				display: none; 
			}
	
			body > nav{
				background-color: #0000;
			display: flex;
			}
			body> nav > ul{
				left: 0;
				display: flex;
			}
				body > nav > ul > li > a > span:nth-of-type(2){
					/*escondemos el segundo span: el que contiene los nombres de los botones*/
					display: none;
				}
			/*-----Articulos------*/
			#botonMenu{
				display: none;
			}
			#botonMenu + ul{
				display: flex;
				left: 0%;
			}

			#botonMenu:checked + ul{
				display: flex;
				left: 0%;
			}
	
	}
	@media all and (min-width: 600px){
		body > nav > ul > li > a > span:nth-of-type(2){/*seleccionamos el segundo span*/
			display: inline-block;/*volvemos a mostrar el segundo span*/
		}
		.comentarios>ul>li{
			display: flex;
		}
	}
	@media all and (max-width: 700px){
		.noticia>footer{
			display: grid;
			justify-content: center;
		}
		.noticia>footer>a{
			margin: 5px;
		}
	}